a {
  text-decoration: none;
}

#cubierta {
  width: 940px;
  margin: 0px 15px 0px 15px;
  background-color: rgb(63, 139, 171);
  padding: 0px 15% 0px 15%;
}

#logo{
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}