a {
  text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#cubierta {
  width: 940px;
  margin: 0px 15px 0px 15px;
  background-color: #e8f9fd;
  padding: 0px 15% 0px 15%;
}

/********************
ENCABEZADO
********************/
header {
  background-color: #79dae8;
  border-style: groove;
  border-color: #0aa1dd;
  border-radius: 15px;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
}


/********************
NAVEGACION
********************/

nav{
    text-align: center;
    padding: 10px 0px;
    margin: 20px 0px 0px;
}

nav{
    font-weight: 800;
    padding: 15px 8px 15px 8px;
}

nav ul{
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 0;
}

nav li{
    display: inline-block;
}

h1,
h2 {
  color: #fff;
}

nav {
  background: #0aa1dd;
}

nav a,
nav a:visited {
  color: #fff;
}

nav a.selected,
nav a:hover {
  color: rgb(30, 60, 196);
}

/********************
PIE DE PAGINA
********************/

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

a.icono-social{
    width: 20px;
    height: 5px;
    margin: 0 5px 0 5px;
}



/********************
REGLAS DE GALERIA
********************/

#galeria{
    margin: 0;
    padding: 0;
    list-style: none;
}

#galeria li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #fff;
    color: #808080;
}

#galeria p{
margin: 0;
padding: 5%;
font-size: 0.9em;
color: #808080;
background-color: #fff;
}

#galeria img{
transition-duration: 0.2s;
}

#galeria img:hover{
transform: scale(1.1);
}

/********************
CUERPO
********************/
body {
  color: #808080;
  background-color: #fff;
}

h1{
    font-family: 'Courgette', cursive;
    margin: 15px, 0px, 15px, 0px;
    font-size: 1.75em;
    font-weight: normal;
}

h2{
    font-size: 1em;
    margin: -13px, 0px, 0px;
    font-weight: normal;
}


/********************
IMAGENES DE GALERIA
********************/
img {
    max-width: 100%;
}

/********************
Pagina Acerca de
********************/
img.foto-perfil{
  display: block;
  max-width: 155px;
  margin: 0 auto 30px auto;
  border-radius: 100%;
}

h3{
  margin: 0 0 1em 0;
}
